/* Page Header Box ************************************************ */
.box.page_header .content {
    height: 94px;
    background-color: #F3F3F3;
     border-radius: 6px 6px 6px 6px;
}

/* Page Header corners */
.box.page_header  .cn {
   
}
/* Page Header Box ************************************************ */



/* Page Top Menu ************************************************ */
.box.page_top_menu .content {
    height: 34px;
   
}

.box.page_top_menu .cn {
   
}
/* Page Top Menu ************************************************ */



/* Page Layout: Columns ************************************************ */
.page_container {
    overflow: hidden;
    width: 100%;
}

.page_container .left_column {
    float: left;
    width: 200px;
    margin-right: 7px;
    overflow: hidden;
}

.page_container .right_column {
    float: right;
    width: 200px;
    margin-left: 7px;
    overflow: hidden;
}

.page_container .center_column {
    width: auto;
    overflow: hidden;
}

.page_container.columnsLC .right_column {
    display: none
}

.page_container.columnsLC .center_column {
}

.page_container.columnsCR .left_column {
    display: none
}

.page_container.columnsCR .center_column {
}

.page_container.columnsC .left_column {
    display: none
}

.page_container.columnsC .right_column {
    display: none
}

.page_container.columnsC .center_column {
}

.page_footer {
    height: 90px;
    clear: both;
    width: 100%;
    padding-top: 20px;
}
/* Page Layout: Columns ************************************************ */


/* BLOCK position  ************************************************ */
.logo_bg {
    position: absolute;
    top: 0;
    left: 16px;
    width: 206px;
    height: 73px;
}
.logo_img {
    position: absolute;
    top: 24px;
    left: 0;
    background: url('../images/logo.png') no-repeat scroll left top;
    width: 206px;
    height: 73px;
}

.page_header .top_user1 {
    position: absolute;
    top: 36px;
    right: 16px;
}

.page_header .top_user2 {
    position: absolute;
    top: 71px;
    right: 16px;
}
/* BLOCK position  ************************************************ */


.box.page_footer  {
    margin-bottom: 0px;
}

.page_footer img.cc_icon {
    float: left;
    position: relative;
}

.page_footer img.w3c_icon {
    float: right;
    position: relative;
}

.page_footer hr {
    width: auto;
    color: #969ea4;
    background-color: #969ea4;
}

.page_footer .copyright {
    margin: 0px;
    padding: 0px;
    color: #404040;
    font-size: 8pt;
    text-align: center;
    padding-top: 10px;
}

#welcome_user{
	float: right;
    font-size: 8pt;
    position: relative;
    right: 186px;
    top: 12px;
}


.dropdown{
	font-size: 9pt;
   	top: -102px;
    width: 86px;
}
.dropdown_currency{
	font-size: 9pt;
    height: 20px !important;
    left: 420px;
    position: relative;
    top: -102px;
    width: 189px;
}

.product_item_featured{
     border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 9px #AAAAAA;
    float: left;
    height: 213px;
    margin: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
}

.product_item_featured:hover{
 	 box-shadow: 0 0 12px #111111;
  
}