<!-- BEGIN TPL (DO NOT REMOVE!) -->
<table class="form" cellspacing="1" cellpadding="4" width="100%">
    <colgroup>
        <col width="45%">
        <col width="50%">
    </colgroup>
	<tr class="group">
	    <td colspan="2" align="left"><?php xmsg('SL','SETTINGS_HEADER'); ?></td>
	</tr>
	<!-- <tr>
	    <td class="label"><?php xmsg('SL','SETS_NUMBER_OF_PRODUCT'); ?></td>
	    <td class="value"><input type="text" name="sets[number_of_product]" id="number_of_product" size="10" maxlength="10" value="<?php setsnumber_of_productvalue(); ?>"></td>
	</tr> -->
  <tr>
	    <td class="label"><?php xmsg('SL','SETS_SHOW_IMAGE'); ?></td>
	    <td class="value"><?php setsshow_imageselect(); ?></td>
	</tr>
  <tr>
	    <td class="label"><?php xmsg('SL','SETS_SHOW_TITLE'); ?></td>
	    <td class="value"><?php setsshow_titleselect(); ?></td>
	</tr>
  <tr>
	    <td class="label"><?php xmsg('SL','SETS_SHOW_DESCR'); ?></td>
	    <td class="value"><?php setsshow_descrselect(); ?></td>
	</tr>
  <tr>
	    <td class="label"><?php xmsg('SL','SETS_SHOW_PRICE'); ?></td>
	    <td class="value"><?php setsshow_priceselect(); ?></td>
	</tr>
  <tr>
	    <td class="label"><?php xmsg('SL','SETS_SHOW_THUMB'); ?></td>
	    <td class="value"><?php setsshow_thumbselect(); ?></td>
	</tr>
  <tr>
	    <td class="label"><?php xmsg('SL','SETS_SHOW_BUTTON'); ?></td>
	    <td class="value"><?php setsshow_buttonselect(); ?></td>
	</tr>
</table>
<!-- END TPL (DO NOT REMOVE!) -->
