<!-- BEGIN TPL (DO NOT REMOVE!) -->
<tr>
  <td class="fpcell1"><input type="checkbox" name="to_save[<?php SpotlightID(); ?>][showprod]" value="<?php SpotlightShowprod(); ?>" onclick="setDeleteFPbutton();" <?php echo SpotlightShowprodchecked() ?> ></td>
  <td class="fp_list_item fpcell2"><input type="text" name="to_save[<?php SpotlightID(); ?>][hd]" value="<?php Spotlighttitle(); ?>" style="width:99%"></td>
  <td class="fpcell3"><input type="text" name="to_save[<?php SpotlightID(); ?>][desc]" value="<?php SpotlightDescr(); ?>" style="width:99%"><input type="hidden" name="to_save[<?php SpotlightID(); ?>][pid]" value="<?php SpotlightID(); ?>"></td>
</tr>
<!-- END TPL (DO NOT REMOVE!) -->