<!-- BEGIN TPL (DO NOT REMOVE!) -->
<table class="table table-striped table-hover">
<tr>
  <td  width="20%"><?php xmsg('PO','COMBINATION'); ?></td>
  <td><a href="javascript: void(0);" onClick="showOpForm('<?php ODivID(); ?>');" id="nrec_cmb_text"><?php xmsg('PO','DT_SSL'); ?></a></td>
</tr>
<tr>
  <td><?php xmsg('PO','SKU'); ?></td>
  <td><input type="text" id="nrec_sku" class="form-control input-sm input-large input-inline"></td>
</tr>
<tr>
  <td><?php xmsg('PO','QUANTITY'); ?></td>
  <td><input type="text" id="nrec_qty" class="form-control input-sm input-large input-inline"></td>
</tr>
</table>
<!-- END TPL (DO NOT REMOVE!) -->
