<!-- BEGIN TPL (DO NOT REMOVE!) -->

<tr>
	<td class="value"><?php SRDeleteCheckbox(); ?></td>
	<td class="value">
		<table>
			<tr><td><?php SRDstCountry(); ?></td></tr>
			<tr><td><?php SRDstState(); ?></td></tr>
		</table>
	</td>
	<td class="value"><?php SRWrangeFrom(); ?> - <?php SRWrangeTo(); ?> <?php WeightSymbol(); ?></td>
	<td class="value">
	   <table>
           <tr><td><?php SRBaseChargeAbs(); ?></td></tr>           
           <tr><td><?php SRBaseChargePerc(); ?></td></tr>
	   </table>
	</td>
	<td class="value">
		<table>
			<tr><td><?php SRAddChargePIabs(); ?></td></tr>
			<tr><td><?php SRAddChargePWUabs(); ?></td></tr>
		</table>
	</td>
</tr>

<!-- END TPL (DO NOT REMOVE!) -->
