body {
    margin: 0px;
    font-size:8pt;
}


a {
    font-weight: normal;
    font-size: 11px;
    color: #000000;
    font-family: Arial, sans-serif;
    text-decoration: underline;
}

/*a:active {
    font-weight: normal;
}*/

a:hover {
    color: #0000cc;
}

/** 
 * Common list class="list"
 */
table.list {
    font-weight: bold;
    font-size: 8pt;
    color: #000000;
    font-family: tahoma, sans-serif;
    background-color: #ffffff;
    border: 0px solid #888888;
    box-shadow: 0 0 10px #888888;
}

table.list tr.title th {
    white-space: nowrap;
    background: rgb(206,212,221);
    text-align: left;
    padding: 0px 3px 0px 3px;
}

table.list td {
/*    border-bottom: 1px solid #939fc2;  */
/*    border-bottom: 1px solid rgb(206, 212, 221); */
    border-bottom: 1px solid #939FC2;
    font-weight: normal;
    font-size: 8pt;
    color: #000000;
    font-family: Tahoma, sans-serif;
    padding: 6px 3px 6px 3px;
}

tr.selected {
    background-color: #FBEDDE;
}

tr.selected_begin_ajax {
    background-color: rgb(121, 213, 165);
}

table.list thead th {
    text-align: left;
    background-color: #2b7dc7;
    font-weight: bold;
    font-size: 9pt;
    color: #ffffff;
}

table.list tfoot th {
    font-weight: bold;
    font-size: 9pt;
    color: #ffffff;
}

table.list thead a {
    font-weight: bold;
    font-size: 9pt;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    text-decoration: underline;
}

table.list thead a:hover {
    color: #ced4dd;
}

table.list th {
    background-color: #afc0de;
}



.button_text
{
    font-weight: bold;
    font-size: 8pt;
}

.error_msg {
    color: red;
    font-weight: bold;
}

a.button_link {
    font-weight: normal;
    font-size: 8pt;
    cursor: pointer;
    color: blue;
    font-family: Tahoma, Sans-serif;
    text-decoration: underline;
}

/**
 * Form-style table with to ouput info. Product Info, etc.
 */
table.form { 
    font-weight: bold;
    font-size: 8pt;
    color: #000000;
    font-family: tahoma, sans-serif;
    background-color: #ffffff;
}

table.form tr.title td {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
    font-size: 9pt;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    text-align: left;
}

table.form tr.subtitle td {
    font-weight: bold;
    font-size: 9pt;
    color: #000000;
    background-color: #afc0de;
}

table.form tr.group td {
    font-weight: bold;
    font-size: 8pt;
    color: #000000;
    background-color: #ced4dd;
}

table.form tr.group a {
    font-size: 8pt;
    font-family: tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

table.form td.label {
    color: #000000;
    font-weight: bold;
    background-color: #eef2f8;
    text-align: right;
    vertical-align: top;
}

table.form td.help {
    background-color: #eef2f8;
    text-align: center;
    vertical-align: top;
	padding-top: 6px;
}

table.form td.value {
    font-size: 8pt;
    color: #666666;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
}

table.form td.description {
    font-size: 8pt;
    color: #000000;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
}

table.form td.value input {
    border-width: 1px;
    border-style: solid;
    border-color: #b2c2df; 
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    vertical-align: top;
}
.input_value {
    border-width: 1px;
    border-style: solid;
    border-color: #b2c2df; 
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    vertical-align: top;
}

.input_file {
    border-width: 1px;
    border-style: solid;
    border-color: #b2c2df; 
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    vertical-align: top;
}

table.form td.label input {
    border-width: 1px;
    border-style: solid;
    border-color: #b2c2df; 
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    vertical-align: top;
}

table.form td.value input.error {
    border-width: 1px;
    border-style: solid;
    border-color: red; 
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    vertical-align: top;
}

table.form td.value textarea {
    border: 1px solid #b2c2df;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    vertical-align: top;
	overflow: auto; /* for ie6 */
}

table.form td.value textarea.error {
    border: 1px solid red;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    vertical-align: top;
}

table.form td.value button {
    border-width: 1px;
    border-style: solid;
    border-color: #b2c2df; 
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    vertical-align: middle;
    height: 19px;
}

.required {
    color: #ff0000;
    font-weight: bold;
    font-size: 8pt;
    text-decoration: none;
    font-family: Tahoma,  sans-serif;
}

span.label{
    color: #000000;
    font-weight: bold;
    font-size: 8pt;
    text-decoration: none;
    font-family: Tahoma,  sans-serif;
}

span.label a{
    font-weight: bold;
}


/**
 * Standard markup table. Should be "invisible".
 */
table.clear td {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    font-family: inherit;
    font-size: inherit;
}

/**
 * Paginator
 */
table.paginator {
    font-weight: bold;
    font-size: 8pt;
    color: #000000;
    font-family: tahoma, sans-serif;
}

table.paginator td {
    text-align: center;
    font-weight: bold;
    font-size: 8pt;
    color: #000000;
    font-family: Tahoma, sans-serif;
}

table.paginator td a {
    font-weight: bold;
    font-size: 9pt;
    color: #000000;
    font-family: Tahoma, sans-serif;
    text-decoration: underline;
    padding: 5px;
    border: 1px solid #FFFFFF;
}

table.paginator td a:hover {
    color: #2b7dc7;
    background-color: #EFEFEF;
    border: 1px solid #E1E1E1;
}

.smallText {
    font-size: 8pt;
    color: #666666;
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

select, input .small {
    font-size: 8pt; 
    color: #000000; 
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

.categorySeparatorCharacter {
    font-weight: bold;
    font-size:8pt;
    font-family: Arial, sans-serif;
}


/**
 * Left side table.
 */
table.leftBox {
	width: 155px;
}

table.leftBox th {
    border-right: #a0a0a0 1px solid;
    border-top: #efefef 1px solid;
    font-weight: bold;
    font-size: 8pt;
    border-left: #efefef 1px solid;
    color: #4c4c4c;
    border-bottom: #a0a0a0 1px solid;
    font-family: tahoma, sans-serif;
    background-color: #d5d5d5;
	text-align: left;
}

table.leftBox td {
    font-size: 8pt;
	color: #666666;
    font-family: tahoma, sans-serif;
	text-align: left;
}

table.leftBox td A.StyleAsText{
    font-size: 8pt;
	color: #666666;
    font-family: tahoma, sans-serif;
	text-align: left;
    text-decoration: none;
}

table.leftBox .fullWidthInputControl {
    BORDER: #a5acb2 1px solid; 
    FONT-SIZE: 8pt; 
    COLOR: black; 
    FONT-FAMILY: Verdana,  sans-serif; 
    BACKGROUND-COLOR: #ffffff;
    width: 155px
}
/**
 * Menu table.
 */

table.menu td
{
    padding: 2px 6px 0px 7px;
}

table.menu td img {
    vertical-align: middle;
    padding: 0px 4px 0px 0px;
    border: 0px;
    text-decoration: none;
    margin: 2px 0px 1px 0px;
}

td.inactive {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;

    font-weight: bold;
    font-size: 8pt;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
}

td.inactive_normal_cursor {
    text-align: center;
    background-color: #dee2e8;
    white-space: nowrap;

    font-weight: bold;
    font-size: 8pt;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
}

td.active {
    cursor: pointer;
    text-align: center;
    background: linear-gradient(to bottom, #625D54 1%, #565249 100%) repeat scroll 0 0 transparent;
    white-space: nowrap;

    font-weight: bold;
    font-size: 8pt;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
   
}

/**
 * Main content table.
 */
table.content {
    background-color: #ffffff;
    font-weight: bold;
    font-size: 10pt;
    margin: 0px;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
}

table.content td {
    font-weight: normal;
    margin: 0px;
    text-decoration: none;
    font-size: 8pt;
    color: #666666;
    font-family: Tahoma, sans-serif;
    text-align: left;
}

table.content tr.top td {
    font-weight: bold;
    font-size: 10pt;
    margin: 0px;
    color: #000000;
    font-family: Tahoma, sans-serif;
}

table.content tr.top a {
    font-weight: normal;
    font-size: 11px;
}

table.content tr.title td {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    font-weight: bold;
    font-size: 9pt;
    color: #ffffff;
    font-family: Tahoma, sans-serif;
}

table.content a {
    font-weight: normal;
    font-family: Tahoma, sans-serif;
    text-decoration: underline;
    font-size: 8pt;
}

/**
 * Main content table.
 */
 
table.content_popup_form {
    font-weight: bold;
    font-size: 10pt;
    margin: 0px;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
}

table.content_popup_form td {
    font-weight: normal;
    margin: 0px;
    text-decoration: none;
    font-size: 8pt;
    color: #666666;
    font-family: Tahoma, sans-serif;
    text-align: left;
}

table.content_popup_form tr.top td {
    font-weight: bold;
    font-size: 10pt;
    margin: 0px;
    color: #000000;
    font-family: Tahoma, sans-serif;
}

table.content_popup_form tr.top a {
    font-weight: normal;
    font-size: 11px;
}

table.content_popup_form tr.title td {
    background-color: rgb(175, 192, 222);
    font-weight: bold;
    font-size: 9pt;
    color: #000000;
    font-family: Tahoma, sans-serif;
}

table.content_popup_form a {
    font-weight: normal;
    font-family: Tahoma, sans-serif;
    text-decoration: underline;
    font-size: 8pt;
}

/**
 * table footer
 */
table.footer td {
    text-align: center;
    font-size: 11px;
    color: #000000;
    font-family: Tahoma, sans-serif;
}

table.footer hr {
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    width: 475px;
    color: #999999;
    border-bottom: 0px;
    height: 1px;
    background-color: #999999;
}

/* IE only */
* html .fixed_height_menu_tab_page
{
    height: 650px;
}
/* Mozilla only, IE ignores this */
.fixed_height_menu_tab_page
{
    min-height: 650px;
    
}

/* IE only */
* html .fixed_height_popup_form
{
    height: 530px;
}
/* Mozilla only, IE ignores this */
.fixed_height_popup_form
{
    min-height: 530px;
}
