/*

    IE6 STYLE FIXES

*/


/* COMMON STYLES ******************************************************** */
input, select, textarea {
    vertical-align: middle;
}

.input_checkbox, .input_radio {
    vertical-align: middle;
}

.box { width: auto; }
.form_view .form_row .form_field { margin-left: 0; }
.box, .page_header { position: relative; zoom: 1; }
.box .content { background-color: white; zoom: 1; }
.product_item, .product_list_items { position: relative; zoom: 1; }
.clear_both { clear: both; position: relative; zoom: 1; display: block; width: 0; height: 0; overflow: hidden; font-size: 0; }
/* COMMON STYLES ******************************************************** */

.box.page_top_menu .content {
    background-color: #FFC47C;
    border: 1px solid #FFC47C;
    height: 34px;
}


/* PAGE LAYOUT ******************************************************** */
.page_container .left_column   { float: left; width: 200px; margin-right: 1px; }
.page_container .right_column  { float: right; width: 200px; margin-left: 5px; }
.page_container .center_column { margin-left: 205px; margin-right: 205px; }

.page_container.columnsLC .right_column  { display: none; }
.page_container.columnsLC .center_column { margin-left: 205px; margin-right: 0px; }

.page_container.columnsCR .left_column   { display: none; }
.page_container.columnsCR .center_column { margin-left: 0px; margin-right: 205px; }

.page_container.columnsC .left_column   { display: none; }
.page_container.columnsC .right_column  { display: none; }
.page_container.columnsC .center_column { margin-left: 0px; margin-right: 0px; }
/* PAGE LAYOUT ******************************************************** */



/* BOX CORNERS ******************************************************** */
.page_container .box .cn.lt { 
    background: url('../images/bg-box-lt-corner-on-white.gif') no-repeat;
}
.page_container .box .cn.rt {
    background: url('../images/bg-box-rt-corner-on-white.gif') no-repeat;
}
.page_container .box .cn.lb {
    background-image: none;
}
.page_container .box .cn.rb {
    background-image: none;
    right: -5px;
    bottom: -6px;
}
.page_container .box .content { padding-bottom: 16px; }
.page_container .box .content {
    border-left: 1px solid #FFC47C;
    border-right: 1px solid #FFC47C;
    border-bottom: 1px solid #FFC47C;
}
/* BOX CORNERS ******************************************************** */

.product_info .discount_star { margin-left: 40px; }

.box.shipping_calculator .ship_to_address .form_field,
.box.shipping_calculator .dest_address_form .form_field {
    margin-left:0px;
    width: 60%;
}

.myaccount_home .orders_search .by_form .form_row,
.checkout .payment_method_form .form_view .form_row,
.checkout .shipping_form .form_view .form_row,
.checkout .billing_form .form_view .form_row,
.box.shipping_calculator .shipping_method_form .form_row,
.box.shipping_calculator .chosen_method .form_row,
.box.shipping_calculator .ship_to_address .form_row,
.box.shipping_calculator .dest_address_form .form_row {
    padding-bottom: 0px;
}

.myaccount .signin_form .form_view,
.myaccount_home .orders_search .by_form .form_view,
.checkout .payment_method_form .form_view,
.checkout .shipping_form .form_view,
.checkout .billing_form .form_view,
.box.shipping_calculator .shipping_method_form .form_view,
.box.shipping_calculator .chosen_method .form_view,
.box.shipping_calculator .ship_to_address .form_view,
.box.shipping_calculator .dest_address_form .form_view {
    padding-top: 5px;
}

.box.shipping_calculator .chosen_method .form_field,
.box.shipping_calculator .shipping_method_form .form_field {
    width: 20%;
}

.box.shipping_calculator .chosen_method .form_descr,
.box.shipping_calculator .shipping_method_form .form_descr {
    width: 70%;
}

.checkout .billing_form .form_view .form_field,
.checkout .shipping_form .form_view .form_field {
    width: 60%;
}

.signin_box .form_view .form_field {
    width: auto;
}

.subscribe_form .form_view .form_row {
    padding-bottom: 0px;
}
.cart_preview img {
    margin-bottom: -2px;
}

.jcarousel-skin-tango {
    width: 400px;
    overflow: hidden;
}

.jcarousel-container.jcarousel-container-horizontal {
    width: 450px;
    overflow: hidden;
}

.subscribe_form .form_view .input_checkbox {
    vertical-align: middle;
}

.product_list.related_products .content, .product_list.bestsellers .content, .product_list.featured_products .content {
    padding-bottom:0;
}

.page_header .top_user2 {
    background-color: transparent;
    margin-left: 205px;
    height: 27px;
    width: 55%;
    padding-top: 10px;
    margin-bottom: 1px;
    float: left;
}

.box.page_top_menu .cn.lb,
.box.page_top_menu .cn.rb {
    background-image: none;
    left: 0;
    bottom: 0;
}

.box.page_header .welcome .content {
    background-color: transparent;
    border: none;
    font-size: 8pt;
    margin-left: 41%;
    padding-left: 3%;
    padding-top: 30px;
    width: 55%;
}

.box.page_header {
    width: 1006px;
    margin-right: -20px;
}

.box.page_header .search {
    margin-right: 10px;
}

.left_column .myaccount .signin_box .form_view .form_row input, 
.right_column .myaccount .signin_box .form_view .form_row input {
    width: 96%;
}
