<hr><!-- BEGIN TPL (DO NOT REMOVE!) --> 

<div class="portlet light">
	<div class="portlet-title">
		<span class="bold"><?php Msg('HINT_FIELD_001'); ?></span></center>
		<span><?php FieldName(); ?></span>
	</div>
	<div class="portlet-body">
		<span class="bold"><?php Msg('HINT_FIELD_002'); ?></span>
		<span><?php FieldDescr(); ?></span>
	</div><br />
	<!--div class="portlet-action">
		<center><button onclick="closeAndFocusParent()" title="<?php msg('BTN_CLOSE'); ?>" href="javascript:void(0);" class="btn btn-circle btn-default"><i class="fa fa-close"></i> <span class="hidden-480"><?php msg('BTN_CLOSE'); ?></span></button></center>
	</div-->
</div>
<!-- END TPL (DO NOT REMOVE!) --><hr>
