<!-- BEGIN TPL (DO NOT REMOVE!) -->
<option value="fade">Fade</option>
																<option value="wipe">Wipe</option>
																<option value="scrollDown">ScrollDown</option>
																<option value="scrollUp">ScrollUp</option>
																<option value="fadeZoom">FadeZoom</option>
																<option value="cover">Cover</option>
																<option value="blindX">BlindX</option>
																<option value="blindY">BlindY</option>
																<option value="blindZ">BlindZ</option>
																<option value="curtainX">CurtainX</option>
																<option value="curtainY">CurtainY</option>
																<option value="growX">GrowX</option>
																<option value="growY">GrowY</option>
																<option value="none">None</option>
																<option value="scrollLeft">ScrollLeft</option>
																<option value="scrollRight">ScrollRight</option>
																<option value="scrollHorz">ScrollHorz</option>
																<option value="scrollVert">ScrollVert</option>
																<option value="shuffle">Shuffle</option>
																<option value="slideX">SlideX</option>
																<option value="slideY">SlideY</option>
																<option value="toss">Toss</option>
																<option value="turnUp">TurnUp</option>
																<option value="turnDown">TurnDown</option>
																<option value="turnLeft">TurnLeft</option>
																<option value="turnRight">TurnRight</option>
																<option value="uncover">Uncover</option>
																<option value="zoom">Zoom</option>
																<option value="random">Random</option>
<!-- END TPL (DO NOT REMOVE!) -->
