<!-- BEGIN TPL (DO NOT REMOVE!) -->
<style>
tr.spaceUnder > td
{
  padding-top: 1.5em;
}
</style>
<div class="col-lg-12">
<div class="col-lg-4"></div>
<div class="col-lg-8"><input id ="searchImage" type="button" class="btn blue button button_10em" value="<?php xMsg('BN','BN_UPDATE'); ?>" onclick="{formSubmit('DeleteBannerForm', 'UpdateRows');}" />
  <input id ="searchImage" type="button" class="btn blue button button_10em" value="<?php xMsg('BN','BN_DELETE_SEL'); ?>" onclick="{formSubmit('DeleteBannerForm', 'DelRows');}"/>
</div>
</div>
<b>Note : <font color="red">Banners marked in red are expired banners.</font></b>

<!-- END TPL (DO NOT REMOVE!) -->
