<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<hr><!-- BEGIN TPL (DO NOT REMOVE!) -->
<body class="login">
<script type="text/javascript" src="templates/modules/users/md5.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/uspss.js"></script>
<script>

function toaster(){
	   var shortCutFunction = "warning";
       var msg = "<?php Msg('SIGN_IN_PASSWD_UPDATE_003'); ?> <?php Msg('SIGN_IN_PASSWD_UPDATE_004'); ?>";
       var title = "Warning"|| '';
       toastr.options.timeOut = 10000;
       var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
}
</script>
<SCRIPT LANGUAGE="JavaScript">
<!--

function validateForm(formId, alerts)
{
    var form = document.forms[formId];
    var email = form.elements['AdminEmail'].value;
    var password = form.elements['Password'].value;
    var old_password = hex_md5(form.elements['Old_Password'].value);
    var new_password = form.elements['New_Password'].value;
    var verify_new_password = form.elements['Verify_New_Password'].value;
    if (!isValidEmail(email))
    {
        if(alerts) alert("<?php PSWUPD_000(); ?>");
        return false;
    }
    if (!isValidOldPassword(password, old_password))
    {
        if(alerts) alert("<?php PSWUPD_001(); ?>");
        return false;
    }
    if (!isEqNewAndVerifyPasswords(new_password, verify_new_password))
    {
        if(alerts) alert("<?php PSWUPD_002(); ?>");
        return false;
    }
    if (!isAllFieldsFilled(new Array(email, old_password, new_password, verify_new_password)))
    {
        if(alerts) alert("<?php PSWUPD_003(); ?>");
        return false;
    }
    if (!isValidNewPasswordLength(new_password))
    {
        if(alerts) alert("<?php PSWUPD_004(); ?>");
        return false;
    }
    if (!isComplicatedNewPassword(new_password))
    {
        if(alerts) alert("<?php PSWUPD_005(); ?>");
        return false;
    }
    if (!isDifferentFromOldPassword(old_password, new_password))
    {
        if(alerts) alert("<?php PSWUPD_006(); ?>");
        return false;
    }
    if (!isDifferentFromEmail(email, new_password))
    {
        if(alerts) alert("<?php PSWUPD_007(); ?>");
        return false;
    }
    return true;
}

function formSubmit(formId, formIdHidden, alerts)
{
    var form = document.forms[formId];
    var formHidden = document.forms[formIdHidden];
    if(validateForm(formId, alerts))
    {
        formHidden.elements["AdminEmail"].value = form.elements["AdminEmail"].value;
        formHidden.elements["Old_Password"].value = form.elements["Old_Password"].value;
        formHidden.elements["New_Password"].value = hex_md5(form.elements["New_Password"].value);
        formHidden.elements["Verify_New_Password"].value = hex_md5(form.elements["Verify_New_Password"].value);
        formHidden.submit();
        disableButtons(new Array('SaveButton1', 'SaveButton2'));
        return true;
    }
    return false;
}
//-->
</SCRIPT>
<style>
.toast-top-right {
  top: 250px;
  right: 80px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/

}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container > div {
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 400px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

</style>
<div class="logo">
	<a href="http://www.avactis.com">
	<img src="../../avactis-system/admin/images/logo-login.png" alt= ""/>
	</a>
</div>
<div class="content">
<div id="toast-container" class="toast-top-right col-sm-4" >
    
    </div>
 <FORM id="PasswordUpdateForm" style="margin-bottom: 0px;" onSubmit="return false">
    <?php HiddenArrayViewState(); ?>
    <INPUT TYPE="hidden" <?php Password(); ?>>
    <h3 class="form-title"><?php Msg('SIGN_IN_PASSWD_UPDATE_001'); ?></h3>
    <div class="alert alert-info">
    <?php Msg('SIGN_IN_PASSWD_UPDATE_002'); ?>
    </div>
    
  <div class="form-group">
  <label class="control-label visible-ie8 visible-ie9"><?php Msg('SIGN_IN_PASSWD_UPDATE_005'); ?></label>
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<INPUT TYPE="text"  placeholder="Email" class="form-control placeholder-no-fix"<?php Email(); ?>>
			</div>
   </div> 
    <div class="form-group">
     <label class="control-label visible-ie8 visible-ie9"><?php Msg('SIGN_IN_PASSWD_UPDATE_006'); ?></label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<INPUT TYPE="password" id="show_toast"  placeholder="Current password" class="form-control placeholder-no-fix" <?php Old_Password(); ?>>
							
			</div>
   </div> 
      <div class="form-group">
     <label class="control-label visible-ie8 visible-ie9"><?php Msg('SIGN_IN_PASSWD_UPDATE_007'); ?></label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<INPUT TYPE="password" onfocus="toaster();" placeholder="New password" class="form-control placeholder-no-fix" <?php New_Password(); ?>>
							
			</div>
   </div>
         <div class="form-group">
     <label class="control-label visible-ie8 visible-ie9"><?php Msg('SIGN_IN_PASSWD_UPDATE_008'); ?></label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<INPUT TYPE="password" placeholder="Verify New password" class="form-control placeholder-no-fix" <?php Verify_New_Password(); ?>>
							
			</div>
   </div>
   <div class="form-actions">
		<button onclick="formSubmit('PasswordUpdateForm', 'PasswordUpdateFormHidden', true);" class="btn blue pull-right" type="submit">
			<?php Msg('BTN_SAVE'); ?><i class="m-icon-swapright m-icon-white"></i>
			</button>
   </div>
    <div class="form-group"> <span class="required"><?php Errors(); ?></span></div>
    <INPUT id="SaveButton2" TYPE="submit" style="visibility: hidden" onclick="formSubmit('PasswordUpdateForm', 'PasswordUpdateFormHidden', true);">
    <div class="form-group">
		<p><?php Msg('COPYRIGHT_TEXT'); ?></p>
	</div>
 </FORM>
<FORM <?php FORM(); ?> id="PasswordUpdateFormHidden" style="margin: 0px;">
<INPUT TYPE="hidden" name="AdminEmail">
<INPUT TYPE="hidden" name="Old_Password">
<INPUT TYPE="hidden" name="New_Password">
<INPUT TYPE="hidden" name="Verify_New_Password">
</FORM>
</div>
   
<SCRIPT LANGUAGE="JavaScript">
<!--
jQuery(function() { setFocusOnFirstElement() });
//-->

</SCRIPT>
<script>
jQuery(document).ready(function() {     
  ASC_ADMIN.init(); // init asc-admin core components
Layout.init(); // init current layout
//Demo.init(); // init demo features
  Login.init();
       // init background slide images
       jQuery.backstretch([
        "images/1.jpg",
        "images/2.jpg",
        "images/3.jpg",
        "images/4.jpg"
        ], {
          fade: 1000,
          duration: 8000
    }
    );
});
</script>
</body>
<!-- END TPL (DO NOT REMOVE!) --><hr>
<table class="form" cellspacing="1" cellpadding="5" width="100%" align="center">
    <tr>
        <td colspan="2" align="center" valign="top" style="padding-top: 20px"><img src="images/L-white-bg-50px.gif" width="177" height="50"></td>
    </tr>
    <tr>
        <td colspan="2" nowrap valign="top" style="text-align: center; padding-top: 50px; font-size: 11pt"><?php Msg('SIGN_IN_PASSWD_UPDATE_001'); ?></td>
    </tr>

    <tr>
        <td colspan="2">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td width="10%">
              </td>
              <td width="80%">
                <div style="border-top: 2px solid #b4cadc; width: 100%; height: 3px;">&nbsp;</div>
              </td>
              <td width="10%">
              </td>
            </tr>
          </table>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="description" style="text-align: left; padding-bottom: 10px; padding-left: 60px; padding-right: 60px;" valign="top"><?php Msg('SIGN_IN_PASSWD_UPDATE_002'); ?>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center"><?php Msg('SIGN_IN_PASSWD_UPDATE_003'); ?></td>
    </tr>
    <tr>
        <td colspan="2" class="description" style="padding-left: 60px"><?php Msg('SIGN_IN_PASSWD_UPDATE_004'); ?></td>
    </tr>

    <tr>
        <td width="30%" class="description" nowrap style="text-align: right"><span class="required"><?php Msg('SIGN_IN_PASSWD_UPDATE_005'); ?></span></td>
        <td width="70%" class="value"><INPUT TYPE="text" <?php Email(); ?>></td>
    </tr>
    <tr>
        <td class="description" nowrap style="text-align: right"><span class="required"><?php Msg('SIGN_IN_PASSWD_UPDATE_006'); ?></span></td>
        <td class="value"><INPUT TYPE="password" <?php Old_Password(); ?>></td>
    </tr>
    <tr>
        <td class="description" nowrap style="text-align: right"><span class="required"><?php Msg('SIGN_IN_PASSWD_UPDATE_007'); ?></span></td>
        <td class="value"><INPUT TYPE="password" <?php New_Password(); ?>></td>
    </tr>
    <tr>
        <td class="description" nowrap style="text-align: right"><span class="required"><?php Msg('SIGN_IN_PASSWD_UPDATE_008'); ?></span></td>
        <td class="value"><INPUT TYPE="password" <?php Verify_New_Password(); ?>></td>
    </tr>
    <tr>
        <td class="description" nowrap style="text-align: right"><span class="required"><?php Msg('REQUIRED_FIELD_LABEL'); ?></span></td>
        <td align="left"><div id="SaveButton1" class="button button_5em" onclick="formSubmit('PasswordUpdateForm', 'PasswordUpdateFormHidden', true);"><?php Msg('BTN_SAVE'); ?></div></td>
    </tr>
    <tr>
        <td colspan="2" style="padding-left: 60px; padding-right: 60px;"><span class="required"><?php Errors(); ?></span></td>
    </tr>
    <tr>
        <td colspan="2"><INPUT id="SaveButton2" TYPE="submit" style="visibility: hidden" onclick="formSubmit('PasswordUpdateForm', 'PasswordUpdateFormHidden', true);"></td>
    </tr>

    <tr>
        <td colspan="2" class="value" style="text-align: center; font-size: 10px;" height="100%" valign="bottom"><?php Msg('COPYRIGHT_TEXT'); ?></td>
    </tr>
</table>
</html>

