<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<hr><!-- BEGIN TPL (DO NOT REMOVE!) -->
<body class="login">
<style>
.required {
	color: #ff0000;
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
}
</style>
<SCRIPT LANGUAGE="JavaScript">
<!--
function FormSubmit()
{
    var email = document.forms["PasswordRecoveryForm"].elements["AdminEmail"].value;
    if (email)
    {
         disableButtons(new Array('SubmitButton'));
         return true;
    }
    return false;
}
//-->
</SCRIPT>
<script src="js/window_resize.js" type=text/javascript></SCRIPT>
<script type="text/javascript" src="js/main.js"></script>
<div class="logo">
	<a href="index.php">
	<img src="../../avactis-system/admin/images/logo-login.png" alt= ""/>
	</a>
</div>
<div class="content">
    <FORM <?php FORM(); ?> id="PasswordRecoveryForm" style="margin-bottom: 0px;" onSubmit="return FormSubmit(); ">
      <?php HiddenArrayViewState(); ?>
		<h3><?php Msg('SIGN_IN_PASSWD_RECOVERY_001'); ?></h3>
		<p>
			 <?php Msg('SIGN_IN_PASSWD_RECOVERY_002'); ?>
		</p>
		<p><?php Msg('SIGN_IN_PASSWD_RECOVERY_003'); ?></p>
		<div class="form-group">
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<INPUT autocomplete="off" class="form-control placeholder-no-fix" TYPE="text" <?php Email(); ?> >
			</div>
		</div>
		<div class="form-actions">
			<button class="btn blue pull-right" onclick="if (FormSubmit()) PasswordRecoveryForm.submit();"type="submit">
			<?php Msg('SIGN_IN_PASSWD_RECOVERY_004'); ?> <i class="m-icon-swapright m-icon-white"></i>
			</button>
			<INPUT TYPE="submit" style="visibility: hidden">
		</div>
		 <div class="form-group"> <span class="required"><?php Errors(); ?></span></div>
		<div class="form-group">
		<p><?php Msg('COPYRIGHT_TEXT'); ?></p>
		</div>
	</FORM>
	</div>
<SCRIPT LANGUAGE="JavaScript">
<!--
jQuery(function() { setFocusOnFirstElement() });
//-->
</SCRIPT>
<script>
jQuery(document).ready(function() {     
  ASC_ADMIN.init(); // init asc-admin core components
Layout.init(); // init current layout
//Demo.init(); // init demo features
  Login.init();
       // init background slide images
       jQuery.backstretch([
        "images/1.jpg",
        "images/2.jpg",
        "images/3.jpg",
        "images/4.jpg"
        ], {
          fade: 1000,
          duration: 8000
    }
    );
});
</script>
</body>
<!-- END TPL (DO NOT REMOVE!) --><hr>

</html>
