<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>#page_title#</title>
    <meta name="description" content="#page_description#" />
    <meta name="keywords" content="#page_keywords#" />
    <meta name="author" content="Avactis Team" />
    <?php include(getTemplateFileAbsolutePath('pages/templates/part.header.tpl.html')); ?>
</head>
<body>

<div class="page_background">     

<?php if ('[user1][user3][top_menu]' != ''): ?>
    <div class="box page_header">
        <div class="cn lb"></div>
        <div class="cn rb"></div>
        <div class="content">
            <!-- LOGO -->
            <div class="logo_bg"><a class="logo_img" href="<?php PageURL('index.php') ?>"></a></div>
            <!-- HEADER SEARCH FORM -->
            <div class="top_user1">#user1#</div>
            
            <div class="top_user3">#user3#</div>

            <!-- HEADER SMALL MENU -->
            <div class="top_user2">#top_menu#</div>
        </div>
    </div>
<?php endif; ?>

<?php if ('[main_menu]' != ''): ?>
    <div class="box page_top_menu">
        <div class="cn lt"></div>
        <div class="cn rt"></div>
        <div class="cn lb"></div>
        <div class="cn rb"></div>
        <div class="content">

            <!-- MAIN MENU -->
            #main_menu#

        </div>
    </div>
<?php endif; ?>

    <?php 
        $class = '';
        if ('[left_column]' != '') { $class .= 'L'; }
        if ('[center_column]' != '') { $class .= 'C'; }
        if ('[right_column]' != '') { $class .= 'R'; }
    ?>
	<div class="page_container columns<?php echo $class; ?>">
		<?php if ('[left_column]' != ''): ?><div class="left_column">#left_column#</div><?php endif; ?>
		<?php if ('[right_column]' != ''): ?><div class="right_column">#right_column#</div><?php endif; ?>
		<?php if ('[center_column]' != ''): ?>
            <div class="center_column">
                <div class="box myaccount nogradient">
                    <div class="cn lt"></div>
                    <div class="cn rt"></div>
                    <div class="cn lb"></div>
                    <div class="cn rb"></div>
                    <div class="content">
                        <h1><?php Label('ACCOUNT_REGISTRATION_FORM_LABEL'); ?></h1>
                        <div class="activation_message">
                            <?php MessageBox(); ?>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif; ?>
	</div>

<?php if ('[footer_menu][copyright]' != ''): ?>    
	<div class="box page_footer">
        <div class="menublock">
            #footer_menu#
        </div>
        <hr/>
        <div class="copyright">#copyright#</div>
        <img class="cc_icon" src="<?php echo getTemplateFileURL('images/cc.gif'); ?>" alt="" />
        <a target="_blank" href="http://validator.w3.org/check?uri=referer"><img class="w3c_icon" src="avactis-themes/system/images/valid-xhtml10.png" alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
    </div>
<?php endif; ?>    
</div>
</body>
</html>

