<hr><!-- BEGIN TPL (DO NOT REMOVE!) --> 
  <tr>
    <td colspan="3">
        <table cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td style="padding: 0px 8px 0px 5px;">
                    <img border="0" src="images/icon-info-circle.gif">
                </td>
                <td>
                    <span style="color: green; font-size:9pt; font-weight:bold; font-family: Tahoma, Arial"><?php  xMsg('CLRSW', 'CLR_UPDATE_MSG'); ?></span>
                </td>
            </tr>
        </table>
    </td>
  </tr>

<!-- END TPL (DO NOT REMOVE!) --><hr>
