<!-- BEGIN TPL (DO NOT REMOVE!) -->  
<div class="row">
	<div class="col-md-12 col-sm-12">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-shield"></i>&nbsp;<?php xmsg('SS','VIEW_PAGE_SUBTITLE_SS'); ?>
				</div>
			</div>		
			<div class="portlet-body">
				<div class="row">
					<div class="note note-warning note-bordered">
						<?php Local_CheckShellEnabled(); ?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END TPL (DO NOT REMOVE!) -->
