<!-- BEGIN TPL (DO NOT REMOVE!) -->
<table class="form" cellspacing="1" cellpadding="5" width="100%" align="center">
  <colgroup>
    <col width="20%">
    <col width="0%">
    <col width="75%">
  </colgroup>

  <tr class="title">
    <td class="title popup_dialog_header_left_right_padded" colspan="3">{Title}</td>
  </tr>

  <tr>
    <td class="" colspan="3" align="center"><div class="alert alert-danger"><?php xMsg('NLT', 'NLT_NO_NEWSLETTER') ?></div></td>
  </tr>
</table>
<!-- END TPL (DO NOT REMOVE!) -->
